{% extends 'AcmeIndexBundle::base.html.twig' %}
{% block title %}Главная страница{% endblock %} 

 {% block body %}
    <p>Поздравляем! Вы зашли на страницу отправик почты самому себе.</p> 
    <p>Для отправик формы нажмите <a href="{{ url('_userform') }}">Отправить форму</a></p>
 
 {% endblock %}