<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcomee!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/ljsimple/css/reset.css') }}" type="text/css" media="all" />   
        <link rel="stylesheet" href="{{ asset('bundles/ljsimple/css/style.css') }}" type="text/css" media="all" /> 
        {% block stylesheets %}
        
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="main">
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
